.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100vh;
}
.home__img{
    width: 30%;
    transform: translateX(-150px);
}
.home__container{
    width: 80%;
}
.home__img img{
    border-radius: 30px;
    filter: drop-shadow( 10px 8px 6px hsl(19, 96%, 52%));
    width: 100%;
}
.img__left{
    transition: all 2s ease;
    transform: translateX(0px);
}

.home__data{
    max-width: 800px;
}
.home__title{
    font-size: var(--h1-font-size);
    line-height: 1.2;
    padding-left: 20px;
    transform: translateY(-100px);
}
.title__right{
    transition: all 2s ease;
    transform: translateY(0px);
}
.home__title span{
    color: var(--first-color);
}
.home__description{
    line-height: 2;
    margin-block: 12px 10px;
    transform: scale(0);
}
.description__right{
    transition: all 2s ease;
    transition-delay: 1s;
    transform: scale(1);
}

@media (max-width: 1240px){

    .home__title{
        font-size: var(--h2-font-size);
    }
    .home__description{
        font-size: 12px;
    }
    .home__title::before{
        left: 15%;
        top: 60%;
        width: 170px;
        height: 2px;
    }
}
@media (max-width: 795px){

    .home__title{
        font-size: var(--h3-font-size);
    }
    .home__description{
        font-size: 8px;
    }
}
@media (max-width: 690px){
    .home{
        display: flex;
        flex-direction: column;
        z-index: 10;
        width: auto;
        height: auto;
    }
    .home__img{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .home__img img{
        width: 80%;
    }
    .home__data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .home__title{
        font-size: var(--h4-font-size);
    }
    .home__description{
        font-size: 8px;
        width: 80%;
    }
    .nav__toggle{
        left: 20px;
    }
}
